<div class="jumbotron">
    <h1>Arasu</h1>
    <h3>An Lightning Fast Web Framework</h3>
    <h5>Written on  
    <a href="http://golang.org">  Go</a>, 
    <a href="http://dartlang.org">Dart</a> and 
    <a href="http://angulardart.org">Angular Dart</a>
    </h5>
    <p>
        Arasu&reg; is an open source web framework. <br/>
        Arasu is designed to create high performance web apps.<br/>
        Arasu is especially good for building multi scale, API driven web applications.
    </p>
    <!--
        <a href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="banner">Want to Help? Contribute here!</a>
    -->
    <div class="row">
<!-- ui-sref="quickstart" -->
        <a href="https://github.com/arasuresearch/arasu"  target="_blank" class="btn-success btn">OK, Let's Get Started &raquo;</a>
    </div>
    <p><a ui-sref="contribute">Contribution are welcome !!! </a></p>
</div><!-- /.jumbotron -->
<div role="main" class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 primary" id="why-angulardart">
            <h2>Why Arasu?</h2>
            <p>
                Arasu is designed to create highly performanced web apps, with the support for the requirements of modern apps like data-driven APIs with scalable, service-oriented architecture.
                Arasu make it easy to build multi scale,API driven ,realtime enterprise grade web apps.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 primary">
            <h2>
                <a href="http://golang.org"> <span class="icon_go"></span> Go</a>
            </h2>
            <p>
            Server side component of Arasu is written on top of go language.
            arasu apps are extreamly fast because of goroutine (a lightweight thread by the Go runtime Engine).
        </p>
        </div>
        <div class="col-md-4 col-sm-4 primary" id="future-ready">
            <h2>
                <a href="http://dartlang.org"><span class="icon_dart"></span>Dart</a>
            </h2>
            <p>
            Client side component of Arasu is written on top of dart language.
            client side component uses <a href="http://angulardart.org">angulardart</a> by default. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 primary" id="why-angulardart">
            <h2>Data Storage</h2>
            <p>
                Arasu uses both RDBMS and BIGDATA  for server side storage.
                default RDBMS is mysql. default BIGDATA is Hbase.
                Arasu uses indexedDB for client side storage.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 primary">
            <h2>
                Arasu on Dart
            </h2>
            <p>
                there is another port of arasu server component <a href="https://github.com/arasuresearch/arasuondart">arasuondart</a> is re-written in dart language . but, it is at pre alpha stage .even not ready for development.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 primary" id="future-ready">
            <h2>
                Testing
            </h2>
            <p>
                Arasu use builtin test package for unit test ( for both go and dart).                
                Arasu is implementing a BDD framework <a href="https://github.com/arasuresearch/arasu/bdd">arasu bdd</a> to support BDD on selenium 
                with tools like capybara and spinach.
            </p>
        </div>
    </div>

    <!-- /.row -->


</div>