<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <meta name="name" itemprop="name" content="Arasu : Ultra Heroic Web Framework for Go & Dart ">
  <meta name="description" name="Description" itemprop="description" content="Arasu is a Ultra Framework for building web-apps in Go & Dart.">
  <meta name="author" itemprop="author" content="Thaniyarasu Kannusamy">
  <meta name="image" itemprop="image" content="/arasu.png">

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

  <!-- Bootstrap from CDN
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
-->

  <!-- Bootstrap from CDN-->
  <link href="/static/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>Arasu — Ultra Heroic Web Framework for Go & Dart </title>
  <link href="/static/stylesheets/application.css" rel="stylesheet">

</head>
<body>


<!--Header-->
<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">             
          <img class="navbar-brand-logo" src="/static/images/logo.png">
          <span>Framework</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/demo">Demo</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Learn <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/learn/intro">Intro to Arasu</a>
              </li>
              <li>
                <a href="/learn/tutorial">Tutorial</a>
              </li>
              <li>
                <a href="https://github.com/arasuresearch/arasu-samples">
                  Examples</a>
              </li>
              <li>
                <a href="https://www.dartlang.org/events/2014/flight-school/">
                  Find a Flight School Event</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Develop <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="https://docs.angulardart.org/">
                  API Reference</a>
              </li>
              <li>
                <a href="http://stackoverflow.com/questions/tagged/arasu-framework">
                  Q&amp;A (Stack Overflow)</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Discuss<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <!--
              <li>
                <a href="http://blog.angulardart.org">Blog</a>
              </li>
            -->
              <li>
                <a href="http://groups.google.com/group/arasu-framework">
                  Mailing List</a>
              </li>
              <li>
                <a href="https://twitter.com/arasuresearch">Twitter</a>
              </li>
              <li>
                <a href="https://plus.google.com/u/2/b/101290213510919903986">
                  Google+</a>
              </li>
              <li>
                <a href="https://github.com/arasuresearch/arasu.dart">GitHub</a>
              </li>
              <li>
                <a href="https://github.com/arasuresearch/arasu/issues">
                  Issue Tracker</a>
              </li>
            </ul>
          </li>
        </ul><!-- /.nav -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div><!-- header -->


<!-- maincontent -->
<div class="maincontent"> 