{{template "/layouts/top"}}

  <div class="jumbotron">
    <h1>Arasu</h1>
    <h3><span class="inner">A Full Stack Web Framework for
    <a href="http://golang.org"> <span class="icon_go"></span> Go</a> 
    &amp; 
    <a href="http://dartlang.org"><span class="icon_dart"></span>Dart</a>
         
    </span></h3>
    <p>

Arasu make it easy to build custom, enterprise-grade apps . It is designed to mimic the MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with scalable, service-oriented architecture. It's especially good for building multi scale, realtime web applications.
    </p>

    <a href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="banner">Want to Help? Contribute here!</a>
    <a href="/demo" class="btn-success btn-lg" >OK, Let's Get Started &raquo;</a>


  </div><!-- /.jumbotron -->

<div role="main" class="container">
<div class="row">
  <div class="col-md-4 col-sm-4 primary" id="why-angulardart">
    <h2>Why Arasu?</h2>
    <p>Arasu combine two major next generation web languages called as Go &amp; Dart.</p>
  </div>
  <div class="col-md-4 col-sm-4 primary" >
    <h2>
      <a href="http://golang.org"> <span class="icon_go"></span> Go</a> 
      &amp; 
      <a href="http://dartlang.org"><span class="icon_dart"></span>Dart</a>
    </h2>
    <p>Designed for Dart: use classes, annotations, and more. Build apps
      that scale.</p>
  </div>
  <div class="col-md-4 col-sm-4 primary" id="future-ready">
    <h2>Ready to deploy</h2>
    <p>arasu deploy</p>
  </div>
</div><!-- /.row -->
</div>
{{template "/layouts/bot"}}